@import url("variables.css"); /* stylelint-disable-line */

/* fonts properties */
@font-face {
  font-family: "Neucha"; /* stylelint-disable-line */
  src: url("../fonts/Neucha/Neucha-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/static/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/Open_Sans/static/OpenSans-Bold.ttf");
}

/* main properties */
body {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  height: 100vh;

  font-family: "Open Sans"; /* stylelint-disable-line */
  color: #2A2626;
  line-height: 1.6em;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "Neucha"; /* stylelint-disable-line */
  color: #2A2626;
  line-height: 1.2em;
  font-weight: 400;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* position properties */

/* header */
.container {
  position: relative;
  top: 0px;
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.mrgn-0 {
  position: relative;
  margin: 0;
}

#main-img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

#h-text-area {
  position: relative;
  margin-top: 185px;
  display: flex;
  gap: 30px;
  flex-shrink: 0;
}

#h-text-area > p {
  width: 540px;
}

.header {
  height: 914px;
}

.btn-header {
  position: relative;
  top: 30px;
  left: 570px;
  font-weight: bold;
  color: #fff;
  border-width: 0;
  padding: 12px 24px;
}

.header::before {
  content: "";
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.txt-center {
  text-align: center;
}

#video-block {
  height: 914px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mrgn-top {
  margin-top: 30px;
}

/* box-model properties */

/* visual properties */
.white-bckgrnd {
  background-color: var(--white-color);
}

.half-opacity-bckgrnd {
  background-color: var(--half-opacity-color);
}

.light-bckgrnd {
  background-color: var(--light-color);
}

.main-bckgrnd {
  background-color: var(--main-color);
}

.main-dark-bckgrnd {
  background-color: var(--main-dark-color);
}

.dark-bckgrnd {
  background-color: var(--dark-color);
}

.dark-half-opacity-bckgrnd {
  background-color: var(--dark-half-opacity-color);
}

.brown-bckgrnd {
  background-color: var(--brown-color);
}

.blue-bckgrnd {
  background-color: var(--blue-color);
}

.font-main-bckgrnd {
  color: var(--main-color);
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  /* position: relative; */
  margin: 0 auto;
}

/* animation properties */

/* other properties */